@using CoffeeTracker.K_MYR.RazorClassLib.Views.Models
@model EmailButton

<table class="btn btn-primary p-3 fw-700 ax-center" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; font-weight: 700 !important;">
    <tbody>
        <tr>
            <td style="line-height: 24px; font-size: 16px; border-radius: 6px; font-weight: 700 !important; margin: 0;" align="center" bgcolor="#0d6efd">
                <a href="@Html.Raw(@Model.Url)" style="color: @Model.TextColor; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: 700 !important; white-space: nowrap; background-color: @Model.BackgroundColor; padding: 12px; border: 1px solid @Model.TextColor;">
                    @Model.Text
                </a>
            </td>
        </tr>
    </tbody>
</table>